* {
	margin: 0;
	padding: 0;
	text-align: center;
}

p {
	padding: 20px;
}

.red {
	color: rgb(191, 0, 0);
}

.box {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background: rgb(166,154,255);
	background: -moz-linear-gradient(90deg, rgba(166, 154, 255, 0.36) 0%, rgba(255, 188, 81, 0.36) 100%);
	background: -webkit-linear-gradient(90deg, rgba(166, 154, 255, 0.36) 0%, rgba(255, 188, 81, 0.36) 100%);
	background: linear-gradient(90deg, rgba(166, 154, 255, 0.36) 0%, rgba(255, 188, 81, 0.36) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a69aff",endColorstr="#ffbc51",GradientType=1);
}

.mother {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(166, 154, 255, 0.36);
}

.mother2 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(154, 172, 255, 0.36);
}

.mother3 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(58, 31, 255, 0.36);
}

.mother4 {
	background-color: rgba(10, 0, 82, 0.36);
}

.mother5 {
	background-color: rgba(10, 0, 82, 0.36);
}

.mother6 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(154, 159, 255, 0.36));
}

.father {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(255, 188, 81, 0.36);
}

.father2 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(255, 169, 31, 0.36);
}

.father3 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(235, 145, 0, 0.36);
}
