* {
	margin: 0;
	padding: 0;
	text-align: center;
}

/* 	background-color: hsl(247, 44%, 80%);
	background-color: hsl(38, 81%, 80%);
	#bbb6e3
	#f5d7a3
*/

.title {
	padding: 20px;
}

.red {
	color: rgb(191, 0, 0);
}

footer {
	padding-bottom: 150px;
}

/* Base styles for all elements */
.me,
.mother,
.father,
.grandmother,
.grandfather,
.nan,
.pop,
.mother3-1,
.father3-1,
.mother3-2,
.father3-2,
.mother4-1,
.father4-1,
.mother4-2,
.father4-2,
.mother4-3,
.father4-3,
.mother4-4,
.father4-4,
.mother5-1,
.father5-1,
.mother5-2,
.father5-2,
.mother5-3,
.father5-3,
.mother5-4,
.father5-4,
.mother5-5,
.father5-5,
.mother5-6,
.father5-6,
.mother5-7,
.father5-7,
.mother5-8,
.father5-8,
.mother6-1,
.father6-1,
.mother6-2,
.father6-2,
.mother6-3,
.father6-3,
.mother6-4,
.father6-4,
.mother6-5,
.father6-5,
.mother6-6,
.father6-6,
.mother6-7,
.father6-7,
.mother6-8,
.father6-8,
.mother6-9,
.father6-9,
.mother6-10,
.father6-10,
.mother6-11,
.father6-11,
.mother6-12,
.father6-12,
.mother6-13,
.father6-13,
.mother6-14,
.father6-14,
.mother6-15,
.father6-15,
.mother6-16,
.father6-16,
.GreatGrandmotherGrandmother1,
.GreatGrandmotherGrandmother2,
.GreatGrandmotherGrandmother3,
.GreatGrandmotherGrandmother4,
.GreatGrandmotherGrandmother5,
.GreatGrandmotherGrandmother6,
.GreatGrandmotherGrandmother7,
.GreatGrandmotherGrandmother8,
.GreatGrandmotherGrandfather1,
.GreatGrandmotherGrandfather2,
.GreatGrandmotherGrandfather3,
.GreatGrandmotherGrandfather4,
.GreatGrandmotherGrandfather5,
.GreatGrandmotherGrandfather6,
.GreatGrandmotherGrandfather7,
.GreatGrandmotherGrandfather8,
.GreatGrandfatherGrandmother1,
.GreatGrandfatherGrandmother2,
.GreatGrandfatherGrandmother3,
.GreatGrandfatherGrandmother4,
.GreatGrandfatherGrandmother5,
.GreatGrandfatherGrandmother6,
.GreatGrandfatherGrandmother7,
.GreatGrandfatherGrandmother8,
.GreatGrandfatherGrandfather1,
.GreatGrandfatherGrandfather2,
.GreatGrandfatherGrandfather3,
.GreatGrandfatherGrandfather4,
.GreatGrandfatherGrandfather5,
.GreatGrandfatherGrandfather6,
.GreatGrandfatherGrandfather7,
.GreatGrandfatherGrandfather8 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
  	text-decoration: none;
	color: #666;
	font-family: Arial, Verdana, Tahoma;
	font-size: 12px;
	display: inline-block;
	border-radius: 5px;
	transition: all 0.5s;
}

.me {
	background: hsl(39, 81%, 80%);
	background: -moz-linear-gradient(90deg, hsl(246, 44%, 80%) 0%, hsl(200, 44%, 80%) 33%, hsl(359, 80%, 80%) 66%, hsl(39, 81%, 80%) 100%);
	background: -webkit-linear-gradient(90deg, hsl(246, 44%, 80%) 0%, hsl(200, 44%, 80%) 33%, hsl(359, 80%, 80%) 66%, hsl(39, 81%, 80%) 100%);
	background: linear-gradient(90deg, hsl(246, 44%, 80%) 0%, hsl(200, 44%, 80%) 33%, hsl(359, 80%, 80%) 66%, hsl(39, 81%, 80%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbb6e3",endColorstr="#f5d7a3",GradientType=1);
}
.mother { 
	background-color: hsl(246, 44%, 80%);
	background: -moz-linear-gradient(90deg, hsl(246, 44%, 80%) 0%, hsl(200, 44%, 80%) 100%);
	background: -webkit-linear-gradient(90deg, hsl(246, 44%, 80%) 0%, hsl(200, 44%, 80%) 100%);
	background: linear-gradient(90deg, hsl(246, 44%, 80%) 0%, hsl(200, 44%, 80%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbb6e3",endColorstr="#f5d7a3",GradientType=1);
}
.father {
	background-color: hsl(39, 81%, 80%);
	background: -moz-linear-gradient(90deg, hsl(359, 80%, 80%) 0%, hsl(39, 81%, 80%) 100%);
	background: -webkit-linear-gradient(90deg, hsl(359, 80%, 80%) 0%, hsl(39, 81%, 80%) 100%);
	background: linear-gradient(90deg, hsl(359, 80%, 80%) 0%, hsl(39, 81%, 80%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbb6e3",endColorstr="#f5d7a3",GradientType=1);	
}

.grandmother { background-color: hsl(245, 44%, 80%); }
.grandfather { background-color: hsl(200, 44%, 80%); }
.nan { background-color: hsl(359, 80%, 80%); }
.pop { background-color: hsl(39, 81%, 80%); }

.mother3-1 { background-color: hsl(244, 44%, 80%); }
.mother3-2 { background-color: hsl(243, 44%, 80%); }
.mother4-1 { background-color: hsl(242, 44%, 80%); }
.mother4-2 { background-color: hsl(241, 44%, 80%); }
.mother4-3 { background-color: hsl(240, 44%, 80%); }
.mother4-4 { background-color: hsl(239, 44%, 80%); }
.mother5-1 { background-color: hsl(238, 44%, 80%); }
.mother5-2 { background-color: hsl(237, 44%, 80%); }
.mother5-3 { background-color: hsl(236, 44%, 80%); }
.mother5-4 { background-color: hsl(235, 44%, 80%); }
.mother5-5 { background-color: hsl(234, 44%, 80%); }
.mother5-6 { background-color: hsl(233, 44%, 80%); }
.mother5-7 { background-color: hsl(232, 44%, 80%); }
.mother5-8 { background-color: hsl(231, 44%, 80%); }
.mother6-1 { background-color: hsl(230, 44%, 80%); }
.mother6-2 { background-color: hsl(229, 44%, 80%); }
.mother6-3 { background-color: hsl(228, 44%, 80%); }
.mother6-4 { background-color: hsl(227, 44%, 80%); }
.mother6-5 { background-color: hsl(226, 44%, 80%); }
.mother6-6 { background-color: hsl(225, 44%, 80%); }
.mother6-7 { background-color: hsl(224, 44%, 80%); }
.mother6-8 { background-color: hsl(223, 44%, 80%); }
.mother6-9 { background-color: hsl(222, 44%, 80%); }
.mother6-10 { background-color: hsl(221, 44%, 80%); }
.mother6-11 { background-color: hsl(220, 44%, 80%); }
.mother6-12 { background-color: hsl(219, 44%, 80%); }
.mother6-13 { background-color: hsl(218, 44%, 80%); }
.mother6-14 { background-color: hsl(217, 44%, 80%); }
.mother6-15 { background-color: hsl(216, 44%, 80%); }
.mother6-16 { background-color: hsl(215, 44%, 80%); }
.mother7-1 { background-color: hsl(214, 44%, 80%); }
.mother7-2 { background-color: hsl(213, 44%, 80%); }
.mother7-3 { background-color: hsl(212, 44%, 80%); }
.mother7-4 { background-color: hsl(211, 44%, 80%); }
.mother7-5 { background-color: hsl(210, 44%, 80%); }
.mother7-6 { background-color: hsl(209, 44%, 80%); }
.mother7-7 { background-color: hsl(208, 44%, 80%); }
.mother7-8 { background-color: hsl(207, 44%, 80%); }
.mother7-9 { background-color: hsl(206, 44%, 80%); }
.mother7-10 { background-color: hsl(205, 44%, 80%); }
.mother7-11 { background-color: hsl(204, 44%, 80%); }
.mother7-12 { background-color: hsl(203, 44%, 80%); }
.mother7-13 { background-color: hsl(202, 44%, 80%); }
.mother7-14 { background-color: hsl(201, 44%, 80%); }
.mother7-15 { background-color: hsl(200, 44%, 80%); }

.GreatGrandmotherGrandmother1 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandmother2 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandmother3 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandmother4 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandmother5 {background-color: hsl(200, 44%, 80%);}
.GreatGrandmotherGrandmother6 {background-color: hsl(200, 44%, 80%);}
.GreatGrandmotherGrandmother7 {background-color: hsl(200, 44%, 80%);}
.GreatGrandmotherGrandmother8 {background-color: hsl(200, 44%, 80%);}

.GreatGrandmotherGrandfather1 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandfather2 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandfather3 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandfather4 {background-color: hsl(246, 44%, 80%);}
.GreatGrandmotherGrandfather5 {background-color: hsl(200, 44%, 80%);}
.GreatGrandmotherGrandfather6 {background-color: hsl(200, 44%, 80%);}
.GreatGrandmotherGrandfather7 {background-color: hsl(200, 44%, 80%);}
.GreatGrandmotherGrandfather8 {background-color: hsl(200, 44%, 80%);}

.GreatGrandfatherGrandmother1 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandmother2 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandmother3 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandmother4 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandmother5 {background-color: hsl(200, 44%, 80%);}
.GreatGrandfatherGrandmother6 {background-color: hsl(200, 44%, 80%);}
.GreatGrandfatherGrandmother7 {background-color: hsl(200, 44%, 80%);}
.GreatGrandfatherGrandmother8 {background-color: hsl(200, 44%, 80%);}

.GreatGrandfatherGrandfather1 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandfather2 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandfather3 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandfather4 {background-color: hsl(246, 44%, 80%);}
.GreatGrandfatherGrandfather5 {background-color: hsl(200, 44%, 80%);}
.GreatGrandfatherGrandfather6 {background-color: hsl(200, 44%, 80%);}
.GreatGrandfatherGrandfather7 {background-color: hsl(200, 44%, 80%);}
.GreatGrandfatherGrandfather8 {background-color: hsl(200, 44%, 80%);}

.father2 { background-color: hsl(40, 81%, 80%); }
.father3-1 { background-color: hsl(41, 81%, 80%); }
.father3-2 { background-color: hsl(42, 81%, 80%); }
.father4-1 { background-color: hsl(43, 81%, 80%); }
.father4-2 { background-color: hsl(44, 81%, 80%); }
.father4-3 { background-color: hsl(45, 81%, 80%); }
.father4-4 { background-color: hsl(46, 81%, 80%); }
.father5-1 { background-color: hsl(47, 81%, 80%); }
.father5-2 { background-color: hsl(48, 81%, 80%); }
.father5-3 { background-color: hsl(49, 81%, 80%); }
.father5-4 { background-color: hsl(50, 81%, 80%); }
.father5-5 { background-color: hsl(51, 81%, 80%); }
.father5-6 { background-color: hsl(52, 81%, 80%); }
.father5-7 { background-color: hsl(53, 81%, 80%); }
.father5-8 { background-color: hsl(54, 81%, 80%); }
.father6-1 { background-color: hsl(55, 81%, 80%); }
.father6-2 { background-color: hsl(56, 81%, 80%); }
.father6-3 { background-color: hsl(57, 81%, 80%); }
.father6-4 { background-color: hsl(58, 81%, 80%); }
.father6-5 { background-color: hsl(59, 81%, 80%); }
.father6-6 { background-color: hsl(60, 81%, 80%); }
.father6-7 { background-color: hsl(61, 81%, 80%); }
.father6-8 { background-color: hsl(62, 81%, 80%); }
.father6-9 { background-color: hsl(63, 81%, 80%); }
.father6-10 { background-color: hsl(64, 81%, 80%); }
.father6-11 { background-color: hsl(65, 81%, 80%); }
.father6-12 { background-color: hsl(66, 81%, 80%); }
.father6-13 { background-color: hsl(67, 81%, 80%); }
.father6-14 { background-color: hsl(68, 81%, 80%); }
.father6-15 { background-color: hsl(69, 81%, 80%); }
.father6-16 { background-color: hsl(70, 81%, 80%); }
.father7-1 { background-color: hsl(71, 81%, 80%); }
.father7-2 { background-color: hsl(72, 81%, 80%); }
.father7-3 { background-color: hsl(73, 81%, 80%); }
.father7-4 { background-color: hsl(74, 81%, 80%); }
.father7-5 { background-color: hsl(75, 81%, 80%); }
.father7-6 { background-color: hsl(76, 81%, 80%); }
.father7-7 { background-color: hsl(77, 81%, 80%); }
.father7-8 { background-color: hsl(78, 81%, 80%); }
.father7-9 { background-color: hsl(79, 81%, 80%); }
.father7-10 { background-color: hsl(80, 81%, 80%); }
.father7-11 { background-color: hsl(81, 81%, 80%); }
.father7-12 { background-color: hsl(82, 81%, 80%); }
.father7-13 { background-color: hsl(83, 81%, 80%); }
.father7-14 { background-color: hsl(84, 81%, 80%); }
.father7-15 { background-color: hsl(85, 81%, 80%); }

