* {
	margin: 0;
	padding: 0;
	text-align: center;
}

.title {
	padding: 20px;
}

.red {
	color: rgb(191, 0, 0);
}

.me,
.mother1,
.father1,
.mother2,
.father2,
.mother3-1,
.father3-1,
.mother3-2,
.father3-2,
.mother4-1,
.father4-1,
.mother4-2,
.father4-2,
.mother4-3,
.father4-3,
.mother4-4,
.father4-4,
.mother5-1,
.father5-1,
.mother5-2,
.father5-2,
.mother5-3,
.father5-3,
.mother5-4,
.father5-4,
.mother5-5,
.father5-5,
.mother5-6,
.father5-6,
.mother5-7,
.father5-7,
.mother5-8,
.father5-8,
.mother6-1,
.father6-1,
.mother6-2,
.father6-2,
.mother6-3,
.father6-3,
.mother6-4,
.father6-4,
.mother6-5,
.father6-5,
.mother6-6,
.father6-6,
.mother6-7,
.father6-7,
.mother6-8,
.father6-8,
.mother6-9,
.father6-9,
.mother6-10,
.father6-10,
.mother6-11,
.father6-11,
.mother6-12,
.father6-12,
.mother6-13,
.father6-13,
.mother6-14,
.father6-14,
.mother6-15,
.father6-15,
.mother6-16,
.father6-16 {
	border: 1px solid #d1d1e0;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 12px;
	display: inline-block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	background-color: rgba(154, 172, 255, 0.36);
}

.me {
	background: rgb(166,154,255);
	background: -moz-linear-gradient(90deg, rgba(166, 154, 255, 0.36) 0%, rgba(255, 188, 81, 0.36) 100%);
	background: -webkit-linear-gradient(90deg, rgba(166, 154, 255, 0.36) 0%, rgba(255, 188, 81, 0.36) 100%);
	background: linear-gradient(90deg, rgba(166, 154, 255, 0.36) 0%, rgba(255, 188, 81, 0.36) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a69aff",endColorstr="#ffbc51",GradientType=1);
}

.mother1 {
	background-color: rgb(7, 6, 15);
}
.father1 {
	background-color: ;
}
.mother2 {
	background-color: rgb(13, 11, 30);
}
.father2 {
	background-color: ;
}
.mother3-1 {
	background-color: rgb(20, 17, 44);
}
.father3-1 {
	background-color: ;
}
.mother3-2 {
	background-color: rgb(27, 23, 59);
}
.father3-2 {
	background-color: ;
}
.mother4-1 {
	background-color: rgb(33, 28, 74);
}
.father4-1 {
	background-color: ;
}
.mother4-2 {
	background-color: rgb(40, 34, 89);
}
.father4-2 {
	background-color: ;
}
.mother4-3 {
	background-color: rgb(47, 40, 103);
}
.father4-3 {
	background-color: ;
}
.mother4-4 {
	background-color: rgb(53, 45, 118);
}
.father4-4 {
	background-color: ;
}
.mother5-1 {
	background-color: rgb(60, 51, 133);
}
.father5-1 {
	background-color: ;
}
.mother5-2 {
	background-color: rgb(67, 57, 148);
}
.father5-2 {
	background-color: ;
}
.mother5-3 {
	background-color: rgb(73, 62, 163);
}
.father5-3 {
	background-color: ;
}
.mother5-4 {
	background-color: rgb(80, 68, 177);
}
.father5-4 {
	background-color: ;
}
.mother5-5 {
	background-color: rgb(91, 79, 187);
}
.father5-5 {
	background-color: ;
}
.mother5-6 {
	background-color: rgb(104, 93, 193);
}
.father5-6 {
	background-color: ;
}
.mother5-7 {
	background-color: rgb(118, 108, 199);
}
.father5-7 {
	background-color: ;
}
.mother5-8 {
	background-color: rgb(132, 123, 204);
}
.father5-8 {
	background-color: ;
}
.mother6-1 {
	background-color: rgb(146, 138, 210);
}
.father6-1 {
	background-color: ;
}
.mother6-2 {
	background-color: rgb(159, 152, 216);
}
.father6-2 {
	background-color: ;
}
.mother6-3 {
	background-color: rgb(173, 167, 221);
}
.father6-3 {
	background-color: ;
}
.mother6-4 {
	background-color: rgb(187, 182, 227);
}
.father6-4 {
	background-color: ;
}
.mother6-5 {
	background-color: rgb(190, 186, 228);
}
.father6-5 {
	background-color: ;
}
.mother6-6 {
	background-color: rgb(194, 189, 230);
}
.father6-6 {
	background-color: ;
}
.mother6-7 {
	background-color: rgb(197, 193, 231);
}
.father6-7 {
	background-color: ;
}
.mother6-8 {
	background-color: rgb(201, 197, 233);
}
.father6-8 {
	background-color: ;
}
.mother6-9 {
	background-color: rgb(204, 200, 234);
}
.father6-9 {
	background-color: ;
}
.mother6-10 {
	background-color: rgb(207, 204, 235);
}
.father6-10 {
	background-color: ;
}
.mother6-11 {
	background-color: rgb(211, 208, 237);
}
.father6-11 {
	background-color: ;
}
.mother6-12 {
	background-color: rgb(214, 211, 238);
}
.father6-12 {
	background-color: ;
}
.mother6-13 {
	background-color: rgb(218, 215, 240);
}
.father6-13 {
	background-color: ;
}
.mother6-14 {
	background-color: rgb(221, 218, 241);
}
.father6-14 {
	background-color: ;
}
.mother6-15 {
	background-color: rgb(224, 222, 242);
}
.father6-15 {
	background-color: ;
}
.mother6-16 {
	background-color: rgb(228, 226, 244);
}
.father6-16 {
	background-color: ;
}
